<div class="row">
    <div class="col-md-4">
        <h1>Create Log</h1>
        <form method="post" action="/logs" enctype="multipart/form-data">
            <div class="form-group">
                <label for="ticket">Ticket</label>
                <input type="text" class="form-control" id="ticket" name="ticket" placeholder="123,569 ...">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Log File</label>
                <input type="file" id="logFile" name="logFile">
                <p class="help-block">Select a log file from your computer. Only .txt and .rtf allowed</p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>